.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
}

main {
  flex: 1;
  padding: 1.5rem 2.5rem;
  overflow-y: auto;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 1024px) {
  .app {
    grid-template-columns: 1fr;
  }
  main {
    padding: 1rem;
  }
}
